@import "@mobiscroll/datepicker-react/dist/css/mobiscroll.scss";

$colors-ios-light: (
  button: #004854,
  accent: #0d55f1,
  background: #fff,
  text: #212121,
);

$colors-ios-dark: (
  button: #00cef2,
  accent: #0d55f1,
  background: #000000,
  text: #fdfdfd,
);

